@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  background: $primary-color;
  color: $white-color;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background: darken($primary-color, 10%);
  }
}